# Ignore artifacts:
build
coverage

# Ignore all HTML files:
*.html

# Ignore specific files in root
package-lock.json
yarn.lock

# Next.js build output
.next
next-env.d.ts
next.config.ts

# Static files
public

# Coverage
coverage
.swc
